footer.footer(class=['is-' + appconfig.theme.footer], ref='footer')
  span
    a(href='https://rdf.community') RDF.community 
    | content is available under the 
    a(href='https://creativecommons.org/licenses/by-sa/4.0/') Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    | . 
    = t('footer.poweredby') + ' '
    a(href='https://github.com/Requarks/wiki') Wiki.js
    | .
  ul
    li: a(href='/')= t('footer.home')
    li: a(href='#root')= t('footer.top')
